.op {
  // background: url(../images/bg_home.jpg) center no-repeat;
  // background-size: cover;
  height:100vh;
  background-color: $secondary;
  @include mobile {
    // background: url(../images/bg_home_mobile.jpg) center no-repeat;
    // background-size: cover;
  }
  .title-block {
    position: relative;
    color: #fff;
    text-shadow: 0em 0.1em 0.3em #888;

    h1 {  

    }
    .s-tittle {
      font-size: 34px;
    }

    @include mobile { 
      .s-tittle {
        font-size: 18px;
      }
    }
  }
}

.index-s1 {
  background: url(../images/s1-bg.svg) top center no-repeat;
  background-size: cover;
  .s1-card {
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    padding:20px 30px;
    background: #97B59E;
    color: #fff;
    border-radius:20px;
    span {
      font-size: 28px;
      font-weight: 700;
    }
    &.card-color-2 {
      background: #9CBD77;
    }
    &.card-color-3 {
      background: #689D47;
    }
    &.card-color-4 {
      background: #75ADAF;
    }
    &.card-color-5 {
      background: #32584C;
    }
  }
}

.index-s3 {
  background-image: linear-gradient(180deg, #F3FFFE 0%, #C9E9E7 100%);
  .card-text,.card-img {
    width: 50%;
  }
  .card-text {
    padding: 30px 50px;
    h3 {
      color: $primary;
    }
  }
  @include mobile {
    .card-text,.card-img {
      width: 100%;
    }
  }
}
